swiper-container {
  width: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-icone {
  position: absolute; 
  top: 8px; 
  right: 8px; 
  background: rgba(0,0,0,0.5); 
  border-radius: 50%; 
  padding: 12px; 
  margin: 12px; 
  z-index: 1000;
}
