ion-input {
  border: 1px solid;
  border-radius: 20px;

  padding-left: 15px !important;
  padding-right: 15px !important;
}

:host ::ng-deep ion-input input.native-input {
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-radius: 20px;
  height: 100%;
}

:host {
  //para trocar a cor do toggle do password
  --ion-color-primary: var(--cor-verde-medio-transp);
}
