ion-content {
  --padding-bottom: 120px;

  ion-card {
    margin: 10px;
    border-radius: 12px;

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 10px;
    }
  }
}
