ion-content {
  --background: var(--cor-cinza-claro);

  .div-form {
    margin-bottom: 18px;
  }

  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;

    .createAccountContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: var(--cor-verde-medio);
        font-size: 12px;
        cursor: pointer;
      }
    }
  }

  .logo {
    width: 190px;
    margin-bottom: 40px;
  }

  .login-button {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }

  .footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: gray;
  }
}
