ion-toggle {
  padding: 12px;

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --handle-background: var(--cor-cinza-claro);
  --handle-background-checked: var(--cor-verde-escuro);

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-toggle::part(track) {
  height: 10px;
  width: 65px;
  overflow: visible;
}